<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Vacancies</title>
    <link th:href="@{/styles/listStyle.css}" rel="stylesheet" />
</head>
<body>
<
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Company</th>
        <th>Schedule</th>
        <th>Phone Number</th>
        <th>Age Requirement</th>
        <th>Experience Age</th>
        <th>Education Degree</th>
        <th>Other Requirements</th>
    </tr>
    <tr th:each="vacancy : ${vacancies}">
        <td th:text="${vacancy.id}"/>
        <td th:text="${vacancy.title}"/>
        <td th:text="${vacancy.description.company}"/>
        <td th:text="${vacancy.description.schedule}"/>
        <td th:text="${vacancy.description.phoneNum}"/>
        <td th:text="${vacancy.requirements.age}"/>
        <td th:text="${vacancy.requirements.experienceAge}"/>
        <td th:text="${vacancy.requirements.educationDegree}"/>
        <td th:text="${vacancy.requirements.otherReqs}"/>
        <td>
            <form id="edit" th:method="GET" th:action="@{|/company/${vacancy.description.company.toLowerCase()}/vacancies/edit|}">
                <button type="submit" name="vacancyId" th:value="${vacancy.id}" class="btn btn-link">EDIT</button>
            </form>
        </td>
        <td>
            <form id="delete" th:method="DELETE" th:action="@{|/company/${vacancy.description.company.toLowerCase()}/vacancies/delete|}">
                <button type="submit" name="vacancyId" th:value="${vacancy.id}" class="btn btn-link">DELETE</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
