<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <h3>Upgrade Your Vacancy</h3>
    <hr/>

    <form th:action="@{/company/${company}/vacancies/save}" th:object="${vacancyEdit}" th:method="PUT">

        <input type="text" th:name="s" th:field="*{title}" class="form-control col-4 mb-4" placeholder="Enter Title" />

        <input type="text" th:field="*{description.schedule}" class="form-control col-4 mb-4" placeholder="Enter schedule" />

        <input type="text" th:field="*{description.phoneNum}" class="form-control col-4 mb-4" placeholder="Enter phone number" />

        <input type="number" th:field="*{requirements.age}" class="form-control col-4 mb-4" placeholder="Enter age" />

        <input type="number" th:field="*{requirements.experienceAge}" class="form-control col-4 mb-4" placeholder="Enter experience age" />

        <input type="text" th:field="*{requirements.educationDegree}" class="form-control col-4 mb-4" placeholder="Enter education degree" />

        <input type="text" th:field="*{requirements.otherReqs}" class="form-control col-4 mb-4" placeholder="Enter other reqs" />

        <input type="hidden" th:field="${vacancyEdit}" />

        <button type="submit" class="btn btn-primary col-2">Save</button>


    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>

</body>
</html>