<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Company Vacancies</title>
    <link th:href="@{/styles/listStyle.css}" rel="stylesheet" />
</head>
<body>
    <form th:action="@{|/user/${username}/vacancies/search|}"  th:method="GET">
        <div>
            <label for="keywords">Enter Keywords:</label>
            <input type="text" id="keywords" name="keywords">
            <button type="submit" >Search</button>
        </div>
    </form>
    <label>Your filter criterias:</label>
    <form th:action="@{|/user/${username}/vacancies/filter|}" th:object="${vacancyFilter}" th:method="POST">
        <input type="text" th:field="*{title}" class="form-control col-4 mb-4" placeholder="Enter Title" />
        <input type="number" min="0" max="100" th:field="*{requirements.age}" class="form-control col-4 mb-4" placeholder="Enter age" />
        <input type="number" min="0" max="100" th:field="*{requirements.experienceAge}" class="form-control col-4 mb-4" placeholder="Enter experience age" />
        <input type="text" th:field="*{requirements.educationDegree}" class="form-control col-4 mb-4" placeholder="Enter education" />
        <button type="submit">Filter</button>
    </form>

    <table>
        <div th:switch="${allVacancies.size()}">
            <div th:case="0">
                <h3>No vacancies found</h3>
            </div>
            <div th:case="*">
                <h3>Found <span th:text="${allVacancies.size()}"></span> vacancies</h3>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Company</th>
                <th>Schedule</th>
                <th>Phone Number</th>
                <th>Age Requirement</th>
                <th>Experience Age</th>
                <th>Education Degree</th>
                <th>Other Requirements</th>
            </tr>
            <tr th:each="vacancy : ${allVacancies}">
                <td th:text="${#strings.escapeXml(vacancy.id)}"></td>

                <td>
                    <span th:if="${vacancy.title == '' or vacancy.title == null}">To be added</span>
                    <span th:text="${vacancy.title}" th:unless="${vacancy.title == '' or vacancy.title == null}"></span>
                </td>

                <td>
                    <span th:if="${vacancy.description.company == '' or vacancy.description.company == null}">To be added</span>
                    <span th:text="${vacancy.description.company}" th:unless="${vacancy.description.company == '' or vacancy.description.company == null}"></span>
                </td>
                <td>
                    <span th:if="${vacancy.description.schedule == '' or vacancy.description.schedule == null}">To be added</span>
                    <span th:text="${vacancy.description.schedule}" th:unless="${vacancy.description.schedule == '' or vacancy.description.schedule == null}"></span>
                </td>
                <td>
                    <span th:if="${vacancy.description.phoneNum == '' or vacancy.description.phoneNum == null}">To be added</span>
                    <span th:text="${vacancy.description.phoneNum}" th:unless="${vacancy.description.phoneNum == '' or vacancy.description.phoneNum == null}"></span>
                </td>
                <td>
                    <span th:if="${vacancy.requirements.age == '' or vacancy.requirements.age == null}">To be added</span>
                    <span th:text="${vacancy.requirements.age}" th:unless="${vacancy.requirements.age == '' or vacancy.requirements.age == null}"></span>
                </td>
                <td>
                    <span th:if="${vacancy.requirements.experienceAge == '' or vacancy.requirements.experienceAge == null}">To be added</span>
                    <span th:text="${vacancy.requirements.experienceAge}" th:unless="${vacancy.requirements.experienceAge == '' or vacancy.requirements.experienceAge == null}"></span>
                </td>
                <td>
                    <span th:if="${vacancy.requirements.educationDegree == '' or vacancy.requirements.educationDegree == null}">To be added</span>
                    <span th:text="${vacancy.requirements.educationDegree}" th:unless="${vacancy.requirements.educationDegree == '' or vacancy.requirements.educationDegree == null}"></span>
                </td>
                <td>
                    <span th:if="${vacancy.requirements.otherReqs == '' or vacancy.requirements.otherReqs== null}">To be added</span>
                    <span th:text="${vacancy.requirements.otherReqs}" th:unless="${vacancy.requirements.otherReqs == '' or vacancy.requirements.otherReqs == null}"></span>
                </td>
            </tr>
            </div>
        </div>
    </table>
    <div th:if="${pageCount > 1}">
        <ul class="pagination">
            <li th:each="pageNumber : ${#numbers.sequence(0, pageCount - 1)}">
                <a th:href="@{'?page='+${pageNumber}+'&size='+${pageSize}}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </div>
</body>
</html>
