table{
    width: max-content;
}

table,th,td{
    border: 1px solid grey;
    text-align:center;
}

th,td{
    padding:10px;
}

#edit > * {
    background-color: lightblue;
}

#delete > * {
    background-color: indianred;
    width: 100%;
    height: 100%;
}
